<br>
<br>
<br>
<br>
<hr>
<div class="row justify-content-center">
    <h3 class="animate__animated animate__fadeInDown h3">Contacto</h3>
</div>
<hr>
<br>

<div class="animate__animated animate__bounceInUp row justify-content-center">

    <div class="col-md-4">

        <div class="example z-depth-5 card">
            <br>
            <br>
            <div class="text-center card-body">
                <h5 class="">Ubicacion:</h5>
                <a class="" mdbWavesEffect>
                    <mdb-icon fas icon="home" size="2x" class="indigo-text"></mdb-icon><b> Carabobo, Venezuela</b>
                </a>
                <br>
                <small class="text-muted">   San Diego.</small>
            </div>
            <div class="text-center card-body">
                <h5 class="">Telefono:</h5>
                <a class="" mdbWavesEffect>
                    <mdb-icon fas icon="mobile-alt" size="2x" class="indigo-text"></mdb-icon><b> +58 (414) 467 4446   </b>
                </a>
                <br>
                <small class="text-muted">   ¡Todos los Días y a Cualquier Hora!</small>
            </div>
            <div class="text-center card-body">
                <h5 class="">Correo:</h5>
                <a class="" mdbWavesEffect>
                    <mdb-icon fas icon="envelope-open" size="2x" class="indigo-text"></mdb-icon><b> Manuelpra20@gmail.com</b>
                </a>
                <br>
                <small class="text-muted">   Espero tu Propuesta!!</small>
            </div>
            <br>
            <br>
            <small class="text-center text-muted">Responsabilidad y Compromiso.</small>
            <br>
            <br>
        </div>

    </div>


    <div class="col-md-4">
        <div class="example z-depth-5 card">
            <div class="card-body">
                <br>
                <h3 class="text-center indigo-text"><b>Contáctame</b></h3>
                <hr>
                <form>
                    <div class="md-form">
                        <mdb-icon fas icon="pencil-alt" class="indigo-text prefix"></mdb-icon>
                        <input type="text" id="name" class="form-control">
                        <label for="name">Ingresa tu Nombre:</label>
                    </div>
                    <div class="md-form">
                        <mdb-icon fas icon="envelope" class="indigo-text prefix"></mdb-icon>
                        <input type="text" id="correo" class="form-control">
                        <label for="correo">Ingresa tu Correo:</label>
                    </div>
                    <div class="md-form">
                        <mdb-icon fas icon="file-alt" class="indigo-text prefix"></mdb-icon>
                        <input type="text" id="asu" class="form-control">
                        <label for="asu">Asunto:</label>
                    </div>
                    <div class="md-form">
                        <mdb-icon fas icon="comment" class="indigo-text prefix"></mdb-icon>
                        <textarea class="md-textarea" id="texto"></textarea>
                        <label for="texto">Ingresa tu Comentario:</label>
                    </div>
                    <div class="text-center">
                        <button mdbBtn type="button" color="indigo" mdbWavesEffect>Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="example z-depth-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125643.64220111496!2d-67.96435807266354!3d10.232212790193868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e80678bce61928f%3A0x9f78e9eea8c34272!2sValencia%2C%20Carabobo!5e0!3m2!1ses-419!2sve!4v1581648918279!5m2!1ses-419!2sve"
                width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="">
           </iframe>
        </div>
    </div>

</div>
<br>
<hr>
<br>
<br>
<br>
<br>