<br>
<br>
<br>
<br>
<br>
<!-- animate__tada d-flex -->
<div class="container">
    <!--Section: Products v.4-->
    <section class="pb-3 text-center ">

        <div class="avatar mx-auto">
            <img src="assets\img\manu.png" class="ami rounded-circle z-depth-1" alt="Sample avatar">
        </div>
        <h2 class="h2 py-3">Sobre Mi</h2>
        <div class="animate__animated animate__backInUp d-flex justify-content-center">
            <div class="animated bounce  col-10 my-2">
                <h5 class="h6 text-justify text-dark">
                    Mi nombre es Manuel Prado, soy un desarrollador Web freelancer y tengo como meta brindarle a mis clientes soluciones únicas y simples ofreciendo un servicio de calidad en un entorno web.
                </h5>
                <h6 class="h6 text-justify text-dark">
                    Proactivo, organizado, orientado al logro, autodidacta, practico, elocuente, comunicativo y concreto. En constante búsqueda del crecimiento personal, laboral e interpersonal. Principal interés en el diseño y desarrollo de Software y aplicaciones web,
                    basado en metodologías ágiles y tecnologías reactivas.

                </h6>
                <h6 class="h6 text-justify text-dark">
                    Las tecnologías con las que trabajo abarcan lenguajes como HTML5, CSS y JS. Herramientas de maquetacion como Material Desing Bootstrap, JQuery, Json con la ayuda de Frameworks como lo es Angular, haciendo uso de software de control de versiones como Git,
                    GitHub, GitLab. Conocimiento de sistemas de gestión de contenidos (CMS) Wordpress.
                </h6>
                <h6 class="h6 text-justify text-dark">He logrado pasar de hacer proyectos para una sola persona a ir consolidando un excelente equipo con el fin de abarcar mas área de desarrollo y logrando poner en marcha todo tipo de proyectos web en un tiempo y precio razonable.
                    <hr class="">
                    <br>
                </h6>
            </div>
        </div>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!--Collection card-->
                <mdb-card class="collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view zoom waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets\img\epa.jpg" alt="">
                        </mdb-card-img>
                        <mdb-card-body>
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">
                                <mdb-icon fas icon="chart-line"></mdb-icon> Soluciones Innovadoras</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Se busca generar soluciones que superen las expectativas del cliente con la finalidad de causar satisfacción a través de un buen trabajo.</p>
                        </mdb-card-body>
                        <div class="stripe dark">
                            <a>
                                <p>ManuelpraWeb
                                    <mdb-icon fas icon="angle-right"></mdb-icon>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!--Card image-->
                </mdb-card>
                <!--Collection card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!--Collection card-->
                <mdb-card class="collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view zoom waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets\img\servidor.jpg" alt="">
                            <mdb-icon fas icon="home"></mdb-icon>
                        </mdb-card-img>
                        <mdb-card-body>
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">
                                <mdb-icon fas icon="users"></mdb-icon> Expertos Colaboradores</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>En caso de que un proyecto sea lo suficientemente grande se garantiza que las colaboraciones dadas sean eficientes.</p>
                        </mdb-card-body>
                        <div class="stripe light">
                            <a>
                                <p>ManuelpraWeb
                                    <mdb-icon fas icon="angle-right"></mdb-icon>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!--Card image-->
                </mdb-card>
                <!--Collection card-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!--Collection card-->
                <mdb-card class="collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view zoom waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets\img\foto.jpg" alt=""></mdb-card-img>
                        <mdb-card-body>
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">
                                <mdb-icon fas icon="comments"></mdb-icon> Consulta Gratis</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Puedes expresar tu idea o proyecto sin compromiso y costo alguno, ademas existe la garantía de confidencialidad entre el desarrollador y el cliente</p>
                        </mdb-card-body>
                        <div class="stripe dark">
                            <a>
                                <p>ManuelpraWeb
                                    <mdb-icon fas icon="angle-right"></mdb-icon>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!--Card image-->
                </mdb-card>
                <!--Collection card-->

            </div>
            <!--Grid column-->

            <!--Fourth column-->
            <div class="col-lg-3 col-md-6 mb-4">

                <!--Collection card-->
                <mdb-card class="collection-card z-depth-1-half">
                    <!--Card image-->
                    <div class="view zoom waves-light" mdbWavesEffect>
                        <mdb-card-img src="assets\img\perro.jpg" alt=""></mdb-card-img>
                        <mdb-card-body>
                            <!--Name-->
                            <h4 class="font-weight-bold mb-4">
                                <mdb-icon fas icon="hand-holding-usd"></mdb-icon> Precios</h4>
                            <hr>
                            <!--Quotation-->
                            <p class="dark-grey-text mt-4">
                                <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Se garantizan costos competitivos dentro del mercado, manteniendo siempre el profesionalismo y calidad en cada trabajo realizado.</p>
                        </mdb-card-body>
                        <div class="stripe light">
                            <a>
                                <p>ManuelpraWeb
                                    <mdb-icon fas icon="angle-right"></mdb-icon>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!--Card image-->
                </mdb-card>
                <!--Collection card-->

            </div>
            <!--Fourth column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Products v.4-->
</div>
<br>
<br>
<br>