<!-- Main navigation -->
<header>
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url(/assets/img/luca.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask  d-flex justify-content-center align-items-center">

            <div class="container">
                <!--Grid row-->
                <div class="row pt-lg-5 mt-lg-5 align-items-center">
                    <!--Grid column-->
                    <div class="col-md-6 mb-5 mt-md-0 mt-5  text-center text-md-left wow fadeInLeft" data-wow-delay="0.3s">
                        <h4 class="display-4 font-weight-bold text-light">Manuel Prado Diseñador Web</h4>
                        <hr class="hr-light">
                        <h5 class="mb-3 text-light">Apasionado por la tecnología y el desarrollo de aplicaciones web, siempre innovando, actualizando y mejorando contenido</h5>
                        <a mdbBtn color="light" [routerLink]="['/about']" outline="true" mdbWavesEffect>Saber mas..</a>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>

        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

<br>

<section class="blue-gradient d-flex justify-content-center">
    <div class="d-flex align-items-center">
        <h3 class="h3 pr-5 text-light">
            Algunas de las Tecnologías que Utilizo:
            <hr class="hr-light">
        </h3>
    </div>
    <div class="mt-4 my-4 cloudy-knoxville-gradient radio z-depth-5">
        <div>
            <a href="#">
                <mdb-icon size="5x" class="red-text mt-2 pl-2 pr-3" fab icon="html5"></mdb-icon>
            </a>
            <a href="#">
                <mdb-icon size="5x" class="cyan-text mt-2 pl-1 pr-3" fab icon="css3"></mdb-icon>
            </a>
            <a href="#">
                <mdb-icon size="5x" class="amber-text mt-2 p-1 pr-2" fab icon="js"></mdb-icon>
            </a>
        </div>
        <div>
            <a href="#">
                <mdb-icon size="5x" class="indigo-text pl-2 pr-3" fab icon="bootstrap"></mdb-icon>

            </a>
            <a href="#">
                <mdb-icon size="5x" class="cyan-text pr-3" fab icon="mdb"></mdb-icon>
            </a>
            <a href="#">
                <mdb-icon size="5x" class="red-text pr-2" fab icon="angular"></mdb-icon>
            </a>
        </div>
        <div>
            <a href="#">
                <mdb-icon size="5x" class="red-text pl-2 my-2 pr-3" fab icon="git-alt"></mdb-icon>
            </a>
            <a href="#">
                <mdb-icon size="5x" class="black-text my-2 pr-3" fab icon="github"></mdb-icon>

            </a>
            <a href="#">
                <mdb-icon size="5x" class="amber-text my-2 pr-2" fab icon="gitlab"></mdb-icon>
            </a>
        </div>
    </div>

</section>

<br>

<section class="banner-2">




    <div class="row container">

        <div class="col-md-4 paz">
            <h5 class="h5-responsive text-light">Entusiasta de la Tecnologia, novedoso, actual y pragmático.</h5>
            <p class=" text-light">Mi "Objetivo" brindar un excelente Desarrollo e implementación de soluciones inteligentes en Tecnología de Información. Siempre abierto a nuevas posibilidades de aprendizaje.</p>
            <a mdbBtn [routerLink]="['/contact']" color="light" outline="true" mdbWavesEffect>Contáctame</a>
        </div>
    </div>



    <!-- <div class="paz ml-4">
        <div>
            <div class="col-md-4">
                <h5 class="text-light">
                    Entusiasta de la Tecnologia, novedoso, actual y pragmático.
                </h5>
            </div>
            <div class="col-md-4">
                <p class="text-justify text-light">
                    Mi "Objetivo" brindar un excelente Desarrollo e implementación de soluciones inteligentes en Tecnología de Información. Siempre abierto a nuevas posibilidades de aprendizaje.
                </p>
            </div>
            <a mdbBtn color="light" outline="true" mdbWavesEffect>Contáctame</a>
        </div>
    </div> -->

</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>