footer {
    color: white;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-row>.image-column {
    padding: 5px 10px;
}

.image-row:after {
    content: "";
    display: table;
    clear: both;
}

.image-column {
    float: right;
    width: 30%;
}

.galeria__img {
    width: 300px;
    height: 220px;
    margin-bottom: 30px;
    /* object-fit: contain; tal como es con sus proporciones de altura */
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(70%);
}

.galeria__img:hover {
    filter: brightness(100%);
}

img {
    width: 100%;
}

.slide-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    margin-top: 80px;
}

.slide-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 900px;
}

.slide-modal-content .image-column {
    padding: 0;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
}

.img-slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 18px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    margin-bottom: -4px;
    /* para que se se vea pequeña la imagen en el modal: max-height: 200vh; */
}

.images {
    opacity: 0.7;
    height: 25vh;
    object-fit: cover;
}

.active,
.images:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.ya {
    border-radius: 20px;
    height: 250px;
}