<br>
<br>
<br>
<br>
<div class="container">
    <hr class="hr">

    <h3 class="animate__animated animate__fadeInDown h3 text-center">Portafolio
        <hr class="hr">
    </h3>


    <div class="mt-5 image-row">
        <div class="image-column" *ngFor="let image of images; let i = index">
            <img src="{{image.url}}" (click)="openModal();currentSlide(i+1)" class="galeria__img hover-shadow cursor">
        </div>
    </div>

    <div id="imgModal" class="slide-modal">
        <span class="close cursor" (click)="closeModal()">&times;</span>
        <div class="image-row">
            <div class="image-column" *ngFor="let image of images; let i = index">
                <img class="ya images" (click)="currentSlide(i+1)" src="{{image.url}}">
            </div>
        </div>
        <div class="slide-modal-content">
            <div class="img-slides" *ngFor="let image of images; let i = index">
                <img class="my-5" src="{{image.url}}">
            </div>
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
        </div>
    </div>


</div>
<br>
<br>
<br>