<br>
<br>
<br>
<div class="container">
    <!--Section: Products v.3-->
    <section class="text-center pb-3 my-5">

        <hr>
        <h3 class="animate__animated animate__fadeInDown h3 grey-text text-dark mb-5">¿Como puedo aportar a tu idea o proyecto?
            <hr class="">
        </h3>

        <!-- Grid row -->
        <div class="animate__animated animate__fadeInBottomLeft row">

            <!--Grid column-->
            <div class="uju col-lg-3 col-md-6 mb-4">
                <!--Card-->
                <mdb-card class="testimonial-card">
                    <!--Background color-->
                    <div class="card-up info-color"></div>
                    <!--Avatar-->
                    <div class="mt-4">
                        <mdb-icon fas icon="desktop" size="4x"></mdb-icon>
                    </div>
                    <mdb-card-body>
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">Diseño Web
                            <hr>
                        </h4>

                        <!--Quotation-->
                        <p class="dark-grey-text mt-4">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Maquetado y diseño web responsive, para que se adapte a cualquier pantalla incluyendo las móviles, ademas se siguen los estándares de la industria garantizando un trabajo limpio y elegante que se adecue a las necesidades
                            del cliente.</p>
                    </mdb-card-body>
                </mdb-card>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="uju col-lg-3 col-md-6 mb-4">
                <!--Card-->
                <mdb-card class="testimonial-card">
                    <!--Background color-->
                    <div class="card-up info-color"></div>
                    <!--Avatar-->
                    <div class="mt-4">
                        <mdb-icon size="4x" fas icon="code"></mdb-icon>
                    </div>
                    <mdb-card-body>
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">Desarrollo Web
                            <hr>
                        </h4>

                        <!--Quotation-->
                        <p class="dark-grey-text mt-4">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Entrega de soluciones web para cualquier ámbito o negocio, usando las ultimas tecnologías del momento y logrando sitios que trabajen eficientemente para ti o negocio. Logra ya una mejor interacción con tus clientes
                            y visitantes.</p>
                    </mdb-card-body>
                </mdb-card>
                <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="uju col-lg-3 col-md-6 mb-4">
                <!--Card-->
                <mdb-card class="testimonial-card">
                    <!--Background color-->
                    <div class="card-up indigo"></div>
                    <!--Avatar-->
                    <div class="mt-4">
                        <mdb-icon size="4x" fas icon="shopping-cart"></mdb-icon>
                    </div>
                    <mdb-card-body>
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">Tiendas en linea
                            <hr>
                        </h4>

                        <!--Quotation-->
                        <p class="dark-grey-text mt-4">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>
                            Potencia o empieza a vender YA con una solución Ecommerce con la que obtendrás una tienda única y profesional con sistemas de pagos, catálogos, carrito de compras y mas. Te ayudamos a llegar a tus clientes con la mejor experiencia en tu sitio web
                        </p>
                    </mdb-card-body>
                </mdb-card>
                <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="uju col-lg-3 col-md-6 mb-4">
                <!--Card-->
                <mdb-card class="testimonial-card">
                    <!--Background color-->
                    <div class="card-up indigo"></div>
                    <!--Avatar-->
                    <div class="mt-4">
                        <mdb-icon size="3x" fas icon="cogs"></mdb-icon>
                    </div>
                    <mdb-card-body>
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">Soluciones a medidas
                            <hr>
                        </h4>

                        <!--Quotation-->
                        <p class="dark-grey-text mt-4">
                            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Aunque dos empresas sean muy similares, cada una tiene sus propias necesidades especificas. Desarrollamos un sistema desde cero que se adapte a las necesidades de tu empresa o negocio, ahorrando tiempo y dinero ademas
                            de un aumento en la productividad.
                        </p>
                    </mdb-card-body>
                </mdb-card>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Products v.3-->
</div>
<br>
<br>
<br>